
.footer__nav {
    max-width: 1340px;
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* margin: 30px auto 0 auto; */
    /* border: solid hotpink; */
}

.footer__nav__rubrique {
    margin-right: 10%;
}

.footer__nav__rubrique h2 {
    font-weight: bold;
}

footer ul {
    /* border : saddlebrown solid; */
    padding-left: 0;
    line-height: 40px;
}

@media screen and (max-width: 768px) {
    .footer__nav {
        flex-direction: column;
    }
    
    footer ul li a {
        display: block;
        line-height: 55px;
    }
        
}