footer {
    
    background-color: #F2F2F2;
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.footer__nav {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    /* border: solid hotpink; */


}

.footer__nav__rubrique {
    margin-right: 10%;
    /* margin-right: 110px; */
    margin-left: 5%;
}

.footer__nav__rubrique h2 {
    font-weight: bold;
}

ul {
    /* border : saddlebrown solid; */
    padding-left: 0;
    line-height: 30px;
}