
header {
    padding-top: 20px;
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    align-self: center;
    flex-wrap: wrap;
}

.banner>a {
    margin-right: auto;
}

header nav ul {
    display: flex;
}


header nav li {
    font-size: 1em ;
    margin-right: 30px;
    font-weight: bold;
}

.banner button {
    font-weight: bold;
    color: #0065FC;
    margin-top: auto; 
    margin-bottom: auto;
    background: none;
    border: none;
}

header button:hover { 
    cursor: pointer;
    border-top: 3px solid #0065FC ;
    padding-left: 15px;
    padding-right: 15px;
}


header nav li:hover {
    border-top: 3px solid #0065FC ;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

header nav li:hover a {     
    color: #0065FC;    /*le texte ne prends pas la couleur au survol*/
}

@media screen and (max-width: 768px) 
{
    header {
        margin-top: 30px;
        max-width: 768px;
    }
    
    header img {
        width: 150%;
    }

    header nav {
        order: 3;
        width: 100%;
    }  
    header nav ul {
        align-items: stretch;
        margin: auto;
    }
    
    header nav li {
        width: 100%;
        margin-right: 0;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        border-bottom: solid #f2f2f2 2px;
    }
    
    header nav li:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC ;
        cursor: pointer;
    }
    
    
}


