
header {
    padding-top: 20px;
    border: 2px solid green;
}

.bandeauMenu {
    display: flex;
    justify-content: space-between;
}

#bandeauMenu__logo {
    max-width: 90px;
}

header nav ul {
    display: flex;
}

header nav li {
    margin-left: 50px;
    font-size: 1em ;
}

.inscription {
    font-weight: bold;
    color: #0065FC;
}

#pageEnCours a {
    color: #0065FC;
    border-top: 3px solid #0065FC ;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

header h1 {
    font-size: 1.1em;
    font-weight: bold;
}

header p {
    font-size: 0.9em;
    margin-top: -9px;
}



