
.banner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.banner>a {
    margin-right: auto;
    padding-top: 33px;
    margin-bottom: 20px;
}

header nav ul , header p{
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 30px;
    padding-top: 50px;
}

header nav ul li a {
    font-weight: 500;
    
 }



.banner button {
    font-weight: bold;
    color: #0065FC;
    background: none;
    border: none;
    padding-top: 50px;


}

header button:hover { 
    cursor: pointer;
    border-top: 3px solid #0065FC ;
    padding-left: 15px;
    padding-right: 15px;
}


header nav li:hover {
    border-top: 3px solid #0065FC ;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

header nav li:hover a {     
    color: #0065FC;    /*le texte ne prends pas la couleur au survol*/
}

@media screen and (max-width: 768px) 
{
    header {
        margin-top: 20px;
        max-width: 768px;
    }
    
    header img {
        width: 150%;
    }
    .banner>a {
        padding-top: 20px;
    }

    header nav {
        order: 3;
        width: 100%;
        /* border: gold solid; */
    }  

    header button {
        padding-top: 0;
    }
    header button:hover { 
        border-top: none;
    }


    header nav ul  {
        align-items: stretch;
        padding-left: 0 ;
        /* padding-bottom: 15px; */
        
    }
    
    header nav ul li {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px ;
        margin: 0 0 35px 0 ;
        text-align: center;
        border-bottom: solid #f2f2f2 3px;
    }
    
    header nav li:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC ;
        cursor: pointer;
    }
    
    
}


