/* données générales */

#resultatsContent {
    margin-top: 3%;
    margin-bottom: 100px; /* a supp*/
}

#resultatsContent .fa-info {
    color: #0065FC;
    font: 15px;
    height: auto;
    border: #F2F2F2 solid;
    padding: 7px 11px;
    border-radius: 50%;
    margin-right: 10px;
}

.resultatContent__row1 {
    display: flex;
    justify-content: space-between;
    /* height: 650px; */
}

#resultatsContent h2 {
    font-weight: bold;
    font-size: 1.3em;
}
#resultatsContent h3 {
    font-weight: bold;
}

#resultatsContent p, .fa-star--coloured, .fa-star--uncoloured{
    font-size: 0.8em;
}

.fa-star--coloured {
    color: #0065FC;
}

.fa-star--uncoloured {
    color: #d6d6d6;
}

.bigBox {
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 1% 2% 0% 2%;
}

.smallBox {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}

.smallBox__presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* margin: 6% 2% 2% 4%; */
    /* border: orange solid; */
}
.smallBox__presentation h3 {
    margin-bottom: 0;
    margin-top: 0;
}


.smallBox__presentation p span:last-child, 
.bigBox-1 a:last-child {
    font-weight: bold;
}

.stars {
    display: flex;
}


/* Row 1 bigBox-1  */
/* Partie hébergement */

.grid-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bigBox-1 {
    /* margin-right: 3%;
    max-width: 60%; */
    flex-basis: 60%;
}

.bigBox-1 .smallBox {
    width: 28%;
    min-width: 100px;
    max-height: 220px ;
    margin-bottom: 3%;
}

.grid-1__smallBox--photo-1 {
    background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110px;
    max-height: 600px;

    border-radius: 20px 20px 0 0;
}

.grid-1__smallBox--photo-2 {
    background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110px;
    max-height: 600px;
    border-radius: 20px 20px 0 0;
}

.grid-1__smallBox--photo-3 {
    background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110px;
    max-height: 600px;
    border-radius: 20px 20px 0 0;  
}

.grid-1__smallBox--photo-4 {
    background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 110px;
    max-height: 600px;
    border-radius: 20px 20px 0 0;  
}

.grid-1__smallBox--photo-5 {
    background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-repeat: no-repeat;
       background-size: cover;
    min-height: 110px;
    max-height: 600px;
    border-radius: 20px 20px 0 0;
}

.grid-1__smallBox--photo-6 {
    background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 110px;
    max-height: 600px;
    border-radius: 20px 20px 0 0;
}

.bigBox-1 .smallBox__presentation {
    margin: 7px;
}

.bigBox-1 > a {
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
}

.bigBox-1 p {
    line-height: 10px; 
    margin-bottom: 9px;
}

/* Row 1 bigBox-2  */
/* Partie les plus populaires */

.bigBox-2 {
    flex-basis: 30%;
}   

.bigBox-2 h2 {
    position: relative;
}

.bigBox-2 .fa-chart-line {
    font-size: 1.2em;
    position: absolute;
    right: 0;
}

.bigBox-2 .smallBox a {
    display: flex;
}

.bigBox-2 .smallBox__presentation {
    margin: 15px 15px;
}

.bigBox-2 .smallBox__presentation p{
    margin-bottom: 25%;
}

.column3 {
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column3__smallBox--photo-1 {
    background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-width: 200px; */
    min-width: 100px;
    max-width: 600px;
    border-radius: 20px 0 0 20px;
}

.column3__smallBox--photo-2 {
    background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100px;
    max-width: 600px;
    border-radius: 20px 0 0 20px;
}

.column3__smallBox--photo-3 {
    background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100px;
    max-width: 600px;
    border-radius: 20px 0 0 20px;
}

/* Row 2 */
/* Les activités */


.resultatsContent__row2 {
    background-color: inherit;
    height: 490px; 
    max-width: 1200px;
    padding-top: 30px;
}

.grid-2 {
    padding-top: 15px;
    display: flex;
    height: 100%;
    flex-direction : column;
    flex-wrap : wrap;
    align-content : space-between;
    justify-content : space-between;
    align-items : stretch;
}

.grid-2 .smallBox {
    /* border-radius: 30px; */
    padding: 0;
    overflow: hidden;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.smallBox-3 img {
    max-height: 448px;
    border-radius: 20px 20px 0 0;
}

.smallBox-4 img {
    max-height: 190px;
    border-radius: 20px 20px 0 0;
}

.grid-2__box {
    width : 22%;
    max-width : 22%;
}

.grid-2__box-1, .grid-2__box-4 {
    flex : 1 1 100%;
}

.grid-2__box-2, .grid-2__box-3, .grid-2__box-5, .grid-2__box-6 {
    overflow : hidden;
    /* flex : 1 1 25%; */
}

.grid-2 h3 {
    margin-left: 18px;
    margin-top: 15px;
}

















