/* données générales */

#resultatsContent .fa-info {
    color: #0065FC;
    font: 15px;
    height: auto;
    border: #F2F2F2 solid;
    padding: 7px 11px;
    border-radius: 50%;
    margin-right: 10px;
}

.resultatContent__row1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#resultatsContent h2 {
    font-weight: bold;
    font-size: 1.3em;
}
#resultatsContent h3 {
    font-weight: bold;
}

#resultatsContent p, .fa-star--coloured, .fa-star--uncoloured{
    font-size: 0.8em;
}

.fa-star--coloured {
    color: #0065FC;
}

.fa-star--uncoloured {
    color: #d6d6d6;
}

.bigBox {
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 10px 20px 0 20px;
    /* padding: 1% 2% 0% 2%; */
}

.smallBox {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}

.smallBox--photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.smallBox__presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smallBox__presentation h3 {
    margin-bottom: 0;
    margin-top: 0;
}


.smallBox__presentation p span:last-child, 
.bigBox-1 a:last-child {
    font-weight: bold;
}

.stars {
    display: flex;
}


/* Row 1 bigBox-1  */
/* Partie hébergement */

.grid-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bigBox-1 {
    /* margin-right: 3%;
    max-width: 60%; */
    flex-basis: 60%;
    padding-right: 0;
}

.bigBox-1 .smallBox {
    width: 28%;
    min-width: 180px;
    max-height: 220px ;
    margin-bottom: 30px;
    margin-right: 15px;
}

.grid-1__smallBox--photo {
    
    min-height: 110px;
    max-height: 600px;
    border-radius: 20px 20px 0 0;  
}

.grid-1__smallBox--photo-1 {
    background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.grid-1__smallBox--photo-2 {
    background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.grid-1__smallBox--photo-3 {
    background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.grid-1__smallBox--photo-4 {
    background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.grid-1__smallBox--photo-5 {
    background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.grid-1__smallBox--photo-6 {
    background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.bigBox-1 .smallBox__presentation {
    margin: 7px;
}

.bigBox-1 > a {
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
}

.bigBox-1 p {
    line-height: 10px; 
    margin-bottom: 9px;
}

/* Row 1 bigBox-2  */
/* Partie les plus populaires */

.bigBox-2 {
    flex-basis: 30%;
}   

.bigBox-2 h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column3 {
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column3 .smallBox {
    margin-bottom: 30px;

}

.column3__smallBox--photo {
    min-width: 100px;
    max-width: 600px;
    border-radius: 20px 0 0 20px;
}

.column3__smallBox--photo-1 {
    background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.column3__smallBox--photo-2 {
    background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

.column3__smallBox--photo-3 {
    background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

.bigBox-2 .smallBox a {
    display: flex;
}

.bigBox-2 .smallBox__presentation {
    margin: 15px 15px;
}

.bigBox-2 .smallBox__presentation p{
    margin-bottom: 25%;
}


/* Row 2 */
/* Les activités */


.resultatsContent__row2 {
    background-color: inherit;
    height: 500px; 
    /* max-width: 100%; */
    padding-top: 30px;
}

.grid-2 {
    padding-top: 15px;
    display: flex;
    height: 80%;
    flex-direction : column;
    flex-wrap : wrap;
    align-content : space-between;
    justify-content : space-between;
    align-items : stretch;
}

.grid-2__box {
    width : 22%;
    max-width : 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-2__box-1, .grid-2__box-4 {
    flex : 1 1 100%;
}

.grid-2__box-2, .grid-2__box-3, .grid-2__box-5, .grid-2__box-6 {
    flex : 0 0 45%;
}

.grid-2 h3 {
    flex-basis: 50px;
    line-height: 50px;
    margin: 0;
    padding-top: auto;
    padding-left: 15px;
}

.grid-2 .smallBox {
    padding: 0;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.grid-2__smallBox--photo {
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.grid-2__smallBox--photo-1 {
    background-image: url(../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
.grid-2__smallBox--photo-2 {
    background-image: url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.grid-2__smallBox--photo-3 {
    background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
.grid-2__smallBox--photo-4 {
    background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
.grid-2__smallBox--photo-5 {
    background-image: url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
.grid-2__smallBox--photo-6 {
    background-image: url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}



@media screen and (max-width: 768px) {
    .resultatContent__row1 {
        flex-direction: column-reverse;
        padding-top: 15px;
    }
    
    .bigBox-2 {
        /* max-width: 100%; */
        border-radius: 0;
    }   
    
    .column3__smallBox--photo {
        width: 40%;
        border-radius: 20px 0 0 20px;
    }
    
    .grid-1, .grid-2 {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }
    
    .bigBox-1 {
        padding-top: 30px;
        background: none;
    }
    .bigBox{
        padding-left: 0;
        padding-right: 0;
    }
    
    .bigBox-1 .smallBox {
        
        margin-right: 0;
        margin-left: 0;
        width: auto;
        box-shadow: 4px 4px 4px #F2F2F2;
    }

    .resultatsContent__row2 {
        height: auto;
    }
    
    .grid-2__box {
        width : 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
           
    .grid-2__smallBox--photo {
        min-height: 150px;
    }

    h2 {
        line-height: 60px;
    }
}

















