
/*************** section de recherche -- search bar ***************/

.searchBar {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2em;
}

.fa-map-marker-alt {
    font-size: 1.2em;
    color: black;
    background-color: #F2F2F2;
    padding: 12px 15px;
    border-radius: 8px 0 0 8px;
}

#city {
    border-top: 1px solid #F2F2F2 ;
    border-bottom: 1px solid #F2F2F2 ;
    border-left: none;
    border-right:none;
    background-color: white;
    padding-left: 7px;
    padding-top: 9px;
    width: 220px;
    outline:none;
    font-size: 0.9em;
}

#city::placeholder {
    color: black;
    font-style: italic;
}

.searchBar__btn-submit {
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: #0065FC;
    padding-left:  20px;
    padding-right: 20px;
    color: white;
    cursor: pointer;
} 

.searchBar__btn-submit .fa-search {
    display: none;    
}


/*************** sélection des filtres / filters bar ***************/

.filtersBar {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtersBar ul {
    display: flex;
    flex-wrap: wrap;
}

.filtersBar p {
    font-weight: bold;
    margin-bottom: 36px;
}

.filtersBar button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px 15px 12px 50px; 
    margin-right: 24px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: solid #F2F2F2;
    font-weight: bold;  
    cursor: pointer;
}

.filtersBar ul li:last-child button {
    margin-right: 0 ;
}

.filtersBar button:hover {
    background-color: #0065FC;
    color: white;
    border-radius: 25px;
    transition: color 0.5s; 
    transform: scale(1.1, 1.1);
    transform: 1s;
}

.filtersBar button:focus {
    outline: none;
}

.filtersBar .fas {
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute;
    left: -10px ;
    top: -2px;
    border-radius: 50%;
    padding: 14px 15px;
    margin-right: 10px;
}

.filtersBar .fa-money-bill-wave {
    padding: 14px 12px;
}

.filtersBar .fa-child {
    padding: 14px 17px;
}

.filtersBar .fa-heart {
    padding: 14px 14px;
}

.filtersBar .fa-dog {
    padding: 14px 12px;
}

/**************** tablette paysage *****************/
/**************** tablette portrait / mobile portrait /mobile paysage *****************/

@media screen and (max-width: 1155px) {
    .filtersBar p {
        margin-top: 30px;
        margin-bottom: 0px;
        width: 100%;
    }
    .filtersBar ul {
        padding-left: 0;
    }
}

/**************** tablette portrait / mobile portrait /mobile paysage *****************/

@media screen and (max-width: 768px) 
{
    .searchBar {
        margin-top: 50px;
        justify-content: center;
        font-size: 1.4em;
    }

    .searchBar span {
        display: none;
    }

    #city {
        width: 60%;
    }

    .searchBar__btn-submit .fa-search {
        display: inline;
    }
    	
    .filtersBar p {
        margin-top: 33px;
        margin-bottom: 10px;
    }
}




















