

.searchBar {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    

}

.fa-map-marker-alt {
    font-size: 1.2em;
    color: black;
    background-color: #F2F2F2;
    padding: 5px 12px;
    border-radius: 8px 0 0 8px;
}

#ville {
    border-top: 1px solid #F2F2F2 ;
    border-bottom: 1px solid #F2F2F2 ;
    border-left: none;
    border-right:none;
    background-color: white;
    padding-left: 7px;
    max-width: 200px;
    outline:none;
}

#ville::placeholder {
    color: black;
    font-style: italic;
}

.searchBar__btn-submit {
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
} 

/* filters */

.filtersBar {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin-top: 20px;
    /* border: solid fuchsia; */
    /* height: 30px; */
    line-height: 30px;
}

.filtersBar p {
    /* border: #0065FC solid; */
    font-weight: bold;
    margin: auto 25px auto 0;
}

.filtersBar .fas {
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 1.4em;
    padding: 12px 14px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    top:0;
    left: -10px ;
}

.filtersBar .fa-child {
    padding: 12px 16px;
}

.filtersBar button {
    background-color: white;
    position: relative;
    margin-top: auto;
    margin-left: 40px;
    cursor: pointer;
    padding: 12px 15px 12px 50px; 
    /* box-shadow: inset 0px 0px 0px 2px #F2F2F2; */
    border-radius: 25px;
    /* padding: 11px 15px 11px 50px; */
    border: none;
    font-weight: bold;  
}

.filtersBar button:hover, .filtersBar button:focus {
    color: white;
    background-color: #0065FC;
    transition: 2s;
    /* box-shadow: hidden; règle le problème de bordure mais du coup, trop de bleu déborde */
    box-shadow: inset 0px 0px 0px 2px #0065FC;
    border-radius: 25px;
    outline: none;
    transition: color 0.5s; 
    transform: 1s;
    transform: scale(1.1, 1.1);
}




















