
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import "./header.css";
@import "./footer.css";
@import "./searchContent.css";
@import "./resultats.css";
@import "./resultatsContent.css";

/* Bleu : #0065FC
Bleu clair : #DEEBFF
Fond gris : #F2F2F2 */

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    /* margin-left: auto; */
    /* margin-right: auto; */
} 
#container {
    max-width: 1340px;
    padding: 0px 15px 0px 15px;
    margin: auto;
}

footer { 
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 20px;
}

h1 {
    font-weight: bold;
    font-size: 1.3em;
}

h2, h3 {
    font-size: 1em;
}

a, p {
    color: black;
    text-decoration: none;
    font-weight: initial;
}

li {
    list-style: none;
}

strong {
    font-weight: normal;
}

button {
    font-size: 1em;
}

i {
    font-size: 1.2em;
}


@media screen and (max-width: 1155px) {

}


@media screen and (max-width: 768px) {   
    body  {
        /* padding: 0; */
        font-size: 20px;
    }

    #container {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;
    } 
}








