@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import "./css/header.css";
@import "./css/main.css";
@import "./css/footer.css";


html, body,header, main, section, article, aside, footer, h1, h2, h3, p, div, span, a, strong, mark, li, ul, ol, nav {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-style: normal;
    font-size: inherit;
    color: black;
    text-decoration: none;
    list-style: none;
    background: none;
    

} 


/* A mettre dans main.css */
.fa-map-marker-alt {
    color: black;
}